<%= form_with(model: ordenclomul, local: true) do |form| %>
  <% if ordenclomul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordenclomul.errors.count, "error") %> prohibited this ordenclomul from being saved:</h2>

      <ul>
      <% ordenclomul.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
