<header class="espacioPagina imagenFondo4">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Cotización de Escritorio Cama</div>
      <div class="intro-lead-in">Para que puedas hacer una cotización de este tipo de mueble, te pedimos que diligencies el siguiente formulario, tomando en cuenta que todos los campos son obligatorios (La dirección de correo electrónico debe ser una dirección válida y el nombre de contacto debe tener mínimo 3 y máximo 30 caracteres):</div>
      <br>
      <br>
      <br>
      <%= render 'form', cotizesccam: @cotizesccam %>
      <br>
    </div>
  </div>
</header>