<header class="espacioPagina imagenFondo1">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Bienvenid@ a Ingenio Funcional</div>
      <div class="intro-lead-in">En Ingenio Funcional, nos especializamos en diseñar y producir muebles multifuncionales como Closets Multifuncionales, Escritorios con Cama, Mesas con Cama y Mesas Expandibles.</div>
      <div class="intro-lead-in">Nuestros apreciados clientes pueden realizar cotizaciones de estos muebles indicando características a medida como materiales y color, visualizar el diseño de sus muebles cotizados, además de consultar y confirmar órdenes de compra.</div>
    </div>
  </div>
</header>