<header class="masthead mastheadC">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Cotización de Closet Multifuncional</div>
      <div class="intro-lead-in">Para que puedas hacer una cotización de este tipo de mueble, te pedimos que diligencies el siguiente formulario, tomando en cuenta que todos los campos son obligatorios:</div>
      <br>
      <br>
      <br>
      <%= render 'form', cotizclomul: @cotizclomul %>
      <br>
      <br>
      <br>
      <div class="intro-lead-in">Muchas gracias por tu cotización.</div>
    </div>
  </div>
</header>