<h1>Transacciones#index</h1>
<p>Find me in app/views/transacciones/index.html.erb</p>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Consulta tus Cotizaciones', transacciones_miscotizaciones_path %>
<%= link_to 'Consulta tus Órdenes de Compra', transacciones_mispedidos_path %>