<h1>Transacciones#miscotizaciones</h1>
<p>Find me in app/views/transacciones/miscotizaciones.html.erb</p>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Haz una Cotización', transacciones_index_path %>
<%= link_to 'Consulta tus Órdenes de Compra', transacciones_mispedidos_path %>