<h1>Transacciones#mispedidos</h1>
<p>Find me in app/views/transacciones/mispedidos.html.erb</p>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Haz una Cotización', transacciones_index_path %>
<%= link_to 'Consulta tus Cotizaciones', transacciones_miscotizaciones_path %>